<div class="container pt-5">
    <div class="row justify-content-center pb-5">
        <a href="index.html" class="w-auto">
            <img class="lazy" src="/assets/images/logos/negativo.svg" alt="Descripción de la imagen" height="50px" width="168px">
        </a>
    </div>
    <div class="row pb-5">
        <div class="d-lg-flex gap-5 justify-content-center">
            <a href="" class="text-white">Aviso legal</a>
            <a href="" class="text-white">Condiciones de Uso</a>
            <a href="" class="text-white">Política de Privacidad</a>
            <a href="" class="text-white">Política de Cookies</a>
        </div>
    </div>
    <div class="row">
        <div class="d-flex gap-5 justify-content-center">
            <a href="" class="text-white">Linkedin</a>
            <a href="" class="text-white">Instagram</a>
            <a href="" class="text-white">Twitter</a>
        </div>
    </div>
</div>