<div class="container py-5">
    <div class="row justify-content-center pb-5">
        <a href="index.html" class="w-auto">
            <img class="lazy" src="/assets/images/logos/negativo.svg" alt="Descripción de la imagen" height="50px"
                width="168px">
        </a>
    </div>
    <div class="row pb-5 justify-content-center">
        <div class="col-12 col-xl-8 d-flex flex-wrap gap-xl-5 justify-content-center">
            <div class="text-center col-12 col-sm-6 col-xl-auto py-2">
                <a href="https://www.informa.es/textos-legales#aviso" target="_blank" class="text-white">Aviso legal</a>
            </div>
            <div class="text-center col-12 col-sm-6 col-xl-auto py-2">
                <a href="https://www.informa.es/textos-legales#condiciones" target="_blank" class="text-white">Condiciones de Uso</a>
            </div>
            <div class="text-center col-12 col-sm-6 col-xl-auto py-2">
                <a href="https://www.informa.es/textos-legales#privacidad" target="_blank" class="text-white">Política de Privacidad</a>
            </div>
            <div class="text-center col-12 col-sm-6 col-xl-auto py-2">
                <a href="https://www.informa.es/textos-legales#cookies" target="_blank" class="text-white">Política de Cookies</a>
            </div>
        </div>
    </div>
    <div id="rrss" class="row justify-content-center">
        <div class="col-12 col-xl-8 d-flex flex-wrap gap-5 justify-content-center">
            <div class="text-center col-auto py-2">
                <a href="https://twitter.com/informa" target="_blank" class="">
                    <img src="/assets/icons/icon-rrss-x.svg" alt="Red Social X" width="35" height="35" loading="lazy">
                </a>
            </div>
            <div class="text-center col-auto py-2">
                <a href="https://es.linkedin.com/company/informa-d&b" target="_blank" class="">
                    <img src="/assets/icons/icon-rrss-linkedin.svg" alt="Red Social Linkedin" width="35" height="35" loading="lazy">
                </a>
            </div>
            <div class="text-center col-auto py-2">
                <a href="https://www.instagram.com/informadb/" target="_blank" class="">
                    <img src="/assets/icons/icon-rrss-instagram.svg" alt="Red Social Instagram" width="35" height="35" loading="lazy">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-tertiary py-3">
    <div class="row">
        <p class="m-0 text-center text-white small">© 2023 - Informa. Todos los derechos reservados.</p>
    </div>
</div>