<div class="container">
    <a href="index.html" class="w-auto">
        <img class="lazy" src="/assets/images/logos/postitivo.svg" alt="Descripción de la imagen" height="45px" width="153px">
    </a>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle" href="carta-ceo.html" data-bs-toggle="dropdown">Carta</a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#welcome">Presidente</a></li>
                    <li><a class="dropdown-item" href="#">CEO</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle" href="quienes-somos.html" data-bs-toggle="dropdown">Quiénes Somos</a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Presentación</a></li>
                    <li><a class="dropdown-item" href="#">Nuestro Grupo</a></li>
                    <li><a class="dropdown-item" href="#">Presencia en España</a></li>
                    <li><a class="dropdown-item" href="#">Estructura Corporativa</a></li>
                    <li><a class="dropdown-item" href="#">INFORMA en Cifras</a></li>
                    <li><a class="dropdown-item" href="#">Desempeño 2023</a></li>
                    <li><a class="dropdown-item" href="#">Modelo de Gestión Sostenible</a></li>
                    <li><a class="dropdown-item" href="#">Modelo Transversal</a></li>
                </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Hitos 2023</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle" href="somos-sostenibles.html" data-bs-toggle="dropdown">Somos Sostenibles</a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Grupos de Interés</a></li>
                    <li><a class="dropdown-item" href="#">Contribución a los ODS</a></li>
                    <li><a class="dropdown-item" href="#">Alianzas para Un Fin Común</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle" href="buen-gobierno.html" data-bs-toggle="dropdown">Buen Gobierno</a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Estructura de Gobierno</a></li>
                    <li><a class="dropdown-item" href="#">Código Ético</a></li>
                    <li><a class="dropdown-item" href="#">Canal de Denuncias</a></li>
                    <li><a class="dropdown-item" href="#">Funciones de Gobierno</a></li>
                    <li><a class="dropdown-item" href="#">Sistemas de Control</a></li>
                    <li><a class="dropdown-item" href="#">Modelo de Prevenciaón de Responsabilidad Penal</a></li>
                    <li><a class="dropdown-item" href="#">Protección de Datos Pesonales</a></li>
                    <li><a class="dropdown-item" href="#">Transparencia</a></li>
                    <li><a class="dropdown-item" href="#">Compromiso con los Derechos Humanos</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown has-megamenu">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"><span>+ </span>Contenidos</a>
                <div class="dropdown-menu megamenu px-md-5" role="menu">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 g-3">
                        <div class="">
                            <div class="col-megamenu">
                                <h6 class="title">Personas</h6>
                                <ul class="list-unstyled">
                                    <li><a href="#">Introducción</a></li>
                                    <li><a href="#">Equipo Sólido y Comprometido</a></li>
                                    <li><a href="#">Igualdad y Diversidad</a></li>
                                    <li><a href="#">Cociliación</a></li>
                                    <li><a href="#">Comunicación</a></li>
                                    <li><a href="#">Desconexión Laboral</a></li>
                                    <li><a href="#">Tasa de Absentismo</a></li>
                                    <li><a href="#">Desarrollo Formativo</a></li>
                                    <li><a href="#">Política de Retribución</a></li>
                                    <li><a href="#">Seguridad y Salud en el Trabajo</a></li>
                                    <li><a href="#">Eventos Corporativos</a></li>
                                </ul>
                            </div> <!-- col-megamenu.// -->
                        </div>
                        <div class="">
                            <div class="col-megamenu">
                                <h6 class="title">Clientes</h6>
                                <ul class="list-unstyled">
                                    <li><a href="#">Base de Datos de Información</a></li>
                                    <li><a href="#">Calidad de los Datos</a></li>
                                    <li><a href="#">ESG Intelligence</a></li>
                                    <li><a href="#">Nuestras Personas</a></li>
                                    <li><a href="#">Empresa Actual y Redes Sociales</a></li>
                                    <li><a href="#">Satisfacción del Cliente</a></li>
                                    <li><a href="#">Sistema de Reclamaciones</a></li>
                                </ul>
                            </div> <!-- col-megamenu.// -->
                        </div>
                        <div class="">
                            <div class="col-megamenu">
                                <h6 class="title">Proveedores</h6>
                                <ul class="list-unstyled">
                                    <li><a href="#">Proveedores</a></li>
                                </ul>
                            </div> <!-- col-megamenu.// -->
                        </div>
                        <div class="">
                            <div class="col-megamenu">
                                <h6 class="title">Sociedad</h6>
                                <ul class="list-unstyled">
                                    <li><a href="#">Introducción</a></li>
                                    <li><a href="#">Premio VIDA de la Fundación CRIS a INFORMA</a></li>
                                    <li><a href="#">Club de Voluntarios</a></li>
                                    <li><a href="#">Proyectos Sociales 2023</a></li>
                                </ul>
                            </div> <!-- col-megamenu.// -->
                        </div>
                        <div class="">
                            <div class="col-megamenu">
                                <h6 class="title">Medio Ambiente</h6>
                                <ul class="list-unstyled">
                                    <li><a href="#">Nuestra visión</a></li>
                                    <li><a href="#">Políticas y Sistemas de Gestión</a></li>
                                    <li><a href="#">Residuos</a></li>
                                    <li><a href="#">Relación con Proveedores</a></li>
                                    <li><a href="#">Relación con Nuestros Clientes</a></li>
                                    <li><a href="#">Huella de Carbono</a></li>
                                    <li><a href="#">Compensación</a></li>
                                    <li><a href="#">Desempeno Ambiental 2023</a></li>
                                </ul>
                            </div> <!-- col-megamenu.// -->
                        </div>
                        <div class="">
                            <div class="col-megamenu">
                                <h6 class="title">Sobre este Informe</h6>
                                <ul class="list-unstyled">
                                    <li><a href="#">Sobre este Informe</a></li>
                                </ul>
                            </div> <!-- col-megamenu.// -->
                        </div>
                    </div><!-- end row -->
                </div> <!-- dropdown-mega-menu.// -->
            </li>
        </ul>
    </div> <!-- navbar-collapse.// -->
</div> <!-- container-fluid.// -->