::selection {
    background-color: var(--bs-primary);
    color: #fff;
}
.lazy-background {
    min-height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
img {
    width: 100%;
    border-radius: 5px;
}
.btn {
    max-width: 350px;
    padding: 15px 30px !important;
}
.line-brand {
    background-image: url(/assets/images/svg/line-brand.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.divider {
    height: 1px;
    background-color: #e8e8e8;
    margin: 30px auto 50px;
}
#navbar a {
    font-family: "Noway";
}
.bg-r-tertiary {
    background-image: linear-gradient(180deg, #fff 50%, var(--bs-tertiary) 50%);
}.bg-l-tertiary {
    background-image: linear-gradient(0deg, #fff 50%, var(--bs-tertiary) 50%);
}
@media screen and (min-width: 992px) {
    .bg-r-tertiary {
        background-image: linear-gradient(90deg, #fff 50%, var(--bs-tertiary) 50%);
    }
}
@media screen and (max-width:576px) {
    .dropdown-item {
        white-space: wrap;
    }
}