::selection {
    background-color: var(--bs-primary);
    color: #fff;
}
.section {
    padding-top: 10vw;
    padding-bottom: 10vw;
}
@media screen and (min-width: 992px) {
    .section {
        padding-top: 4vw;
        padding-bottom: 4vw;
    }
}
/************************
 * BARRA DE NAVEGACION 
 *********************** */
#navbar a {
    font-family: "Noway";
}
#navbar::after,
#navbar.navbar-reverse::after{
	content: "";
	position: absolute;
	z-index: -1;
	height: calc(100% + 0px);
	transform: scaleY(0);
	transform-origin: top;
	transition: transform .4s ease,background-color .4s ease;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-overflow-scrolling: touch;
}
/** cambia el background de la barra de navegación */
#navbar.navbar-reverse::after { background-color: #fff; }
#navbar::after { background-color: var(--bs-primary); }
.navbar--charcoal::after {
    transform: none !important;
}
@keyframes stretchLine {
	0% {
		width: 0%;
	}
	100% {
		width: 90%;
	}
}
/** fin cambia el background de la barra de navegación */

/** efecto de linea inferior de la barra de navegación */
#navbar .container::before,
#navbar.navbar-reverse .container::before {
	content: "";
	width: 90%;
	height: 1px;
	position: absolute;
	top: 100%;
	left: 5%;
	transform: translateX(0%);
	animation: stretchLine 1.4s ease-in-out;
	-webkit-overflow-scrolling: touch;
}
#navbar.navbar-reverse .container::before { background-color: rgba(255,255,255,0.3); }
#navbar .container::before { background-color: rgba(0,0,0,0.1); }
#navbar.navbar-reverse.navbar--charcoal .container::before {
	background: rgba(0,0,0,0.1);
}
/* #navbar.navbar--charcoal::before {
	background: rgba(255,255,255,0.3);
} */
/** fin de efecto de linea inferior de la barra de navegación */

#navbar .nav-item > a,
#navbar.navbar-reverse.navbar--charcoal .nav-item  > a {
    color: #fff;
}
@media screen and (min-width: 992px) {
    #navbar .nav-item > a,
    #navbar.navbar-reverse.navbar--charcoal .nav-item  > a {
        color: var(--bs-body-color);
    }
}
#navbar.navbar-reverse .nav-item > a,
#navbar.navbar--charcoal .nav-item > a {
    color: #fff;
}
#navbar svg .cls-1,
#navbar.navbar-reverse.navbar--charcoal svg .cls-1 {
	fill: var(--bs-primary);
}
#navbar.navbar-reverse svg .cls-1,
#navbar.navbar--charcoal svg .cls-1 {
	fill: #fff;
}
/* color de icono de menu */
#navbar .dropdown-toggle::after {
    mask: url(/assets/icons/angle-down-solid.svg) no-repeat center;
    -webkit-mask: url(/assets/icons/angle-down-solid.svg) no-repeat center;
    width: 12px;
    height: 12px;
}
#navbar .dropdown-toggle::after,
#navbar.navbar-reverse.navbar--charcoal .dropdown-toggle::after {
    background-color: #fff; /* Color deseado */
}
#navbar.navbar-reverse .dropdown-toggle::after,
#navbar.navbar--charcoal .dropdown-toggle::after {
    background-color: #fff; /* Color deseado */
}
@media screen and (min-width: 992px) {
    #navbar .dropdown-toggle::after,
    #navbar.navbar-reverse.navbar--charcoal .dropdown-toggle::after {
        background-color: var(--bs-body-color); /* Color deseado */
    }
}
/* #navbar.navbar--charcoal .dropdown-toggle::after {
    width: 12px;
    height: 12px;
} */

/* Megamenu */
.dropdown-menu .title {
    font-family: 'Noway';
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: var(--bs-primary-reverse) 1px solid;
}
.dropdown-menu  {
    border: none;
    box-shadow: 0 10px 40px rgba(0,0,0,0.1);
}
.dropdown-menu a {
    padding-top: 8px;
    padding-bottom: 8px;
}
.dropdown-item:hover {
    background-color: #E5E8EB;
}
.dropdown-menu.megamenu .list-unstyled a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: block;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.dropdown-menu.megamenu .list-unstyled a:hover {
    background-color: #E5E8EB;
    color: var(--bs-primary)
}
/* END HEADER */

.lazy-background {
    min-height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
img {
    width: 100%;
}
.btn {
    max-width: 350px;
    padding: 15px 30px !important;
}
.line-brand {
    background-image: url(/assets/images/svg/line-brand.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.divider {
    height: 1px;
    --bs-bg-opacity: 0.1;
    background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity));
    margin: 30px auto 50px;
}
.bg-r-tertiary {
    background-image: linear-gradient(180deg, #fff 50%, var(--bs-tertiary) 50%);
}.bg-l-tertiary {
    background-image: linear-gradient(0deg, #fff 50%, var(--bs-tertiary) 50%);
}
.bg-gray-10 {
    --bs-bg-opacity: 0.1;
    background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity));
}
@media screen and (min-width: 992px) {
    .bg-r-tertiary {
        background-image: linear-gradient(90deg, #fff 50%, var(--bs-tertiary) 50%);
    }
}
@media screen and (max-width:576px) {
    .dropdown-item {
        white-space: wrap;
    }
}

/* imagenes SVG */
.svg-primary svg use path.cls-1 {
    fill: var(--bs-primary) !important;
}
